@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
 }

#app{
  height: 120vh;
  position: relative;
}


button{
  font-family: 'Comfortaa', cursive ;
  cursor: pointer;
}